
<%- include('../includes/adminManager.ejs') %>	
        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>
    <%- include('../includes/end.ejs') %>