<%- include('../includes/head.ejs') %>

<%- include('../includes/adminManager.ejs') %>	

	
	<!-- Map -->
	<div class="map">
            <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787" data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
        </div>
    
        <%- include('../includes/footer.ejs') %>			
    
        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>
    <%- include('../includes/end.ejs') %>