<!-- Header -->
<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<!-- Topbar -->
		<div class="top-bar">
			<div class="content-topbar flex-sb-m h-full container">
				<div class="left-top-bar">
				</div>  

				<div class="right-top-bar flex-w h-full">	
                   
                    <a href="/" class="flex-c-m trans-04 p-lr-25 translate">
                         Homepage
                    </a>			
                    <a href="/adminTin" class="flex-c-m trans-04 p-lr-25 translate">
                        Adminpage
                    </a> 
                    <% if (Manager) { %>
                    <a href="/adminTin/managerusers" class="flex-c-m trans-04 p-lr-25 translate">
                        Manager User
					</a>

                    <a href="/adminTin/managerproducts" class="flex-c-m trans-04 p-lr-25 translate">
                        Manager iPhone
                    </a>
                    <a href="/adminTin/managermacbook" class="flex-c-m trans-04 p-lr-25 translate">
                        Manager Macbook
                    </a>
                    <a href="/adminTin/managerapplewatch" class="flex-c-m trans-04 p-lr-25 translate">
                        Manager Apple Watch
                    </a>
                    <a href="/adminTin/managerairpod" class="flex-c-m trans-04 p-lr-25 translate">
                        Manager AirPods
                    </a>
                    <% } else {%>
    
                        <a href="/adminTin/addproduct" class="flex-c-m trans-04 p-lr-25 translate">
                            Add Product
                        </a>
                    <% } %>
				
				</div>
			</div>
		</div>
	</div>


</header>

