<form action="/cart" method="POST">
    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
            <i class="fs-16 zmdi zmdi-minus"></i>
        </div>

        <input class="mtext-104 cl3 txt-center num-product" type="number" name="productNumber" value="1">

        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
            <i class="fs-16 zmdi zmdi-plus"></i>
        </div>
    </div>
    <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
    Add to cart
    </button>
    <input type="hidden" name="productId" value="<%= product._id %>">
    <input type="hidden" id="pQuantity" name="pQuantity" value="0">
</form>
<script>
    var AddToCart = (function(){
        var getQuantityOfProduct = function() {
            var result = $('#pQuantity').val();
            return result;
        };
        var plusProduct = function() {
            var num = getQuantityOfProduct() + 1;
            $('#pQuantity').val(num);
            console.log("Number of product after plus: " + num);
        };

        var minusProduct = function() {
            var num = getQuantityOfProduct() - 1;
            $('#pQuantity').val(num);
            console.log("Number of product after minus: " + num);
        };
        return 
    }());

</script>
