<section class="bg0 p-t-23 p-b-140" style="background-color:peachpuff">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">
                    <div class="translate">Manager Overview</div>
                </h3>
            </div>
    
            <div class="flex-w flex-sb-m p-b-52" >		
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <a href="/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Home
                    </a>
                    <a href="/adminTin/managerusers" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Manager Users
                    </a>
    
                    <a href="/adminTin/managerproducts" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Manager Products
                    </a>

                    <a href="/adminTin/managermacbook" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Manager Macbook
                    </a>

                     <a href="/adminTin/managerapplewatch" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Manager Apple Watch
                    </a>

                    <a href="/adminTin/managerairpod" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Manager Airpods
                    </a>
   
   
                   
                </div>
         </div> 
         <div class="flex-w flex-sb-m p-b-52" >		
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <a href="/adminTin/addproduct" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Add Product
                    </a>	
                    
                    <a href="/adminTin/addmacbook" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Add Macbook
                    </a>	

                    <a href="/adminTin/addapplewatch" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Add Apple Watch
                    </a>	

                    <a href="/adminTin/addairpod" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 translate">
                        Add Airpods
                    </a>	
            </div>
        </div>
 </section>