	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30 translate">
                            Categories
                        </h4>
    
                        <ul>
                            <li class="p-b-10">
                                <a href="/iphone" class="stext-107 cl7 hov-cl1 trans-04 translate">
                                    iPhone
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="/macbook" class="stext-107 cl7 hov-cl1 trans-04 translate">
                                    Macbook
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="/applewatch" class="stext-107 cl7 hov-cl1 trans-04 translate">
                                    Apple Watch
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="/airpod" class="stext-107 cl7 hov-cl1 trans-04 translate">
                                    AirPods
                                </a>
                            </li>
                        </ul>
                    </div>

    
                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30 translate">
                            Help
                        </h4>
    
                        <ul>
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04 translate">
                                    Track Order
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04 translate">
                                    Returns 
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04 translate">
                                    Shipping
                                </a>
                            </li>
    
                            <li class="p-b-10">
                                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                    FAQs
                                </a>
                            </li>
                        </ul>
                    </div>
    

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30 translate">
                            Contact
                        </h4>
    
                        <p class="stext-107 cl7 size-201 translate">
                            Any questions? Let us know by senting tinisno1@gmail.com
                        </p>
    
                        <div class="p-t-27">
                            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="zmdi zmdi-facebook"></i>
                            </a>
    
                            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="zmdi zmdi-instagram"></i>
                            </a>
    
                            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                <i class="zmdi zmdi-pinterest"></i>
                            </a>
                        </div>
                    </div>
    
                    
                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30 translate">
                            Newsletter
                        </h4>
    
                        <form>
                            <div class="wrap-input1 w-full p-b-4">
                                <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="example@example.com">
                                <div class="focus-input1 trans-04"></div>
                            </div>
    
                            <div class="p-t-18">
                                <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
    
                <div class="p-t-40">
                    <div class="flex-c-m flex-w p-b-18">
                        <a href="#" class="m-all-1">
                            <img src="/images/icons/icon-pay-01.png" alt="ICON-PAY">
                        </a>
    
                        <a href="#" class="m-all-1">
                            <img src="/images/icons/icon-pay-02.png" alt="ICON-PAY">
                        </a>
    
                        <a href="#" class="m-all-1">
                            <img src="/images/icons/icon-pay-03.png" alt="ICON-PAY">
                        </a>
    
                        <a href="#" class="m-all-1">
                            <img src="/images/icons/icon-pay-04.png" alt="ICON-PAY">
                        </a>
    
                        <a href="#" class="m-all-1">
                            <img src="/images/icons/icon-pay-05.png" alt="ICON-PAY">
                        </a>
                    </div>
    
                   
                </div>
            </div>
        </footer>