<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AdminPage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/Profile/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/bootstrap.min.css">
    <!-- ============================================ -->
    <link rel="stylesheet" href="/Profile/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/owl.carousel.css">
    <link rel="stylesheet" href="/Profile/css/owl.theme.css">
    <link rel="stylesheet" href="/Profile/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/Admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/Profile/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/Profile/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/Profile/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/Profile/js/vendor/modernizr-2.8.3.min.js"></script>
</head>