<%- include('includes/head.ejs') %>

<body class="animsition">
	<div style="text-align: center;">
    	<h1 style="font-size: 40px; font-weight: bold;">404 Page Not Found!</h1>
    </div>
    <!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
<%- include('includes/end.ejs') %>