.text-fullname{
    margin-top: 49px;
}

.text-mobilenumber{
    margin-top: 31px;
}

.text-address{
    margin-top: 34px;
}
.text-shipping{
    margin-top: 23px;
}
.checkout-message{
    position: relative;
    top:91px;
    margin-left: auto;
    margin-right: 143px;
    width: 79%;
    border: 1px solid red;
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
}
.checkout-message--success{
    border-color:green;
    background: #38d948;
    color: green;
}